extends ../shared/template

block content
  h1 Builder II

  #controls
    input#username(type='text', autofocus=true, placeholder='Username')
    button#login Login
    button#plant Plant Seed

  #dashboard
  #forest

block scripts
  script(src='/js/es6/compiled/game.js')
