#overview
  #user(data-id=user._id.toString()) User: #{user.username}
  #wood Wood: #{user.wood}
  #cash Cash: $#{user.cash}
button#plant Plant Seed
button#getforest Get Forest
button#sell-wood Sell Wood
input#wood-amt(type='text', placeholder='Wood Amt')
