.tree(data-id=tree._id.toString(), data-height=tree.height/12, class=tree.classes)
  .height #{(tree.height / 12).toFixed(1)} ft
  .controls
    if(tree.isGrowable)
      button.grow Grow
    if(tree.isChoppable)
      button.chop Chop
